<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>
    <context:component-scan base-package="cui.gas.controller"/>

    <!--启用tomcat中默认的servlet，即把静态资源交给默认的servlet处理-->
    <!--不要处理静态资源-->
    <mvc:default-servlet-handler />
    <!--配置允许放行的静态资源-->
    <mvc:resources mapping="/WEB-INF/**" location="/WEB-INF/"/>
<!--    <mvc:resources mapping="/favicon.ico" location="images/"/>-->
    <!--避免springmvc拦截以html结尾的请求-->
        <mvc:resources mapping="/js/**" location="WEB-INF/js/"/>
        <mvc:resources mapping="/css/**" location="WEB-INF/css/"/>
        <mvc:resources mapping="/images/**" location="WEB-INF/images/"/>
        <mvc:resources mapping="/lib/**" location="WEB-INF/lib/"/>
        <mvc:resources mapping="/api/**" location="WEB-INF/api/"/>
    <!-- 这两个类用来启动基于Spring MVC的注解功能，将控制器与方法映射加入到容器中 -->
<!--    <bean-->
<!--            class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />-->
<!--    <bean-->
<!--            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />-->
<!--    &lt;!&ndash; 视图解析器1:html视图解析器 必须先配置freemarkerConfig,注意html是没有prefix前缀属性的 &ndash;&gt;-->
<!--    <bean id="freemarkerConfig"-->
<!--          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
<!--        <property name="freemarkerSettings">-->
<!--            <bean-->
<!--                    class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
<!--                <property name="properties">-->
<!--                    <props>-->
<!--                        <prop key="default_encoding">utf-8</prop>-->
<!--                        <prop key="output_encoding">utf-8</prop>-->
<!--                    </props>-->
<!--                </property>-->
<!--            </bean>-->
<!--        </property>-->
<!--        <property name="templateLoaderPath">-->
<!--            <value>/WEB-INF/views/</value>-->
<!--        </property>-->
<!--    </bean>-->
<!--    <bean id="htmlviewResolver"-->
<!--          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"-->
<!--          p:suffix=".html" p:order="0">-->
<!--        <property name="contentType" value="text/html;charset=UTF-8" />-->
<!--    </bean>-->
<!--    &lt;!&ndash; 视图解析器2:jsp视图解析器 &ndash;&gt;-->
<!--    <bean id="jspviewResolver"-->
<!--          class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
<!--          p:prefix="/WEB-INF/views/" p:suffix=".jsp" p:order="1">-->
<!--        <property name="contentType" value="text/html;charset=UTF-8" />-->
<!--    </bean>-->
<!--    &lt;!&ndash; <mvc:resources location="/" mapping="*.html"/> &ndash;&gt;-->
<!--    <mvc:resources location="/pages/" mapping="/pages/*"/>-->
<!--    <mvc:resources location="/img/" mapping="/img/**"/>-->
<!--    <mvc:resources location="/css/" mapping="/css/**"/>-->
<!--    <mvc:resources location="/js/" mapping="/js/**"/>-->
<!--</beans>-->
    <!-- 这个类用于Spring MVC视图解析 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".html" />
    </bean>
    <!--配置文件上传处理器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1024000000"/>
    </bean>

</beans>