<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cui.gas.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="cui.gas.domain.Employee">
    <!--@mbg.generated-->
    <!--@Table employee-->
    <id column="eid" jdbcType="INTEGER" property="eid" />
    <result column="esex" jdbcType="INTEGER" property="esex" />
    <result column="eage" jdbcType="INTEGER" property="eage" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="etelephone" jdbcType="VARCHAR" property="etelephone" />
    <result column="eaddress" jdbcType="VARCHAR" property="eaddress" />
    <result column="eusername" jdbcType="VARCHAR" property="eusername" />
    <result column="epassword" jdbcType="VARCHAR" property="epassword" />
    <result column="ecomment" jdbcType="VARCHAR" property="ecomment" />
    <result column="eavailable" jdbcType="INTEGER" property="eavailable" />
    <result column="etime" jdbcType="TIMESTAMP" property="etime" />
    <association property="roleId" javaType="cui.gas.domain.Role">
      <id column="rid" jdbcType="INTEGER" property="rid" />
      <result column="rpostion" jdbcType="VARCHAR" property="rpostion" />
      <result column="rparentid" jdbcType="INTEGER" property="rparentid" />
      <result column="ravailable" jdbcType="INTEGER" property="ravailable" />
      <result column="rcomment" jdbcType="VARCHAR" property="rcomment" />
    </association>
    <association property="stationId" javaType="cui.gas.domain.Station">
      <id column="sid" jdbcType="INTEGER" property="sid" />
      <result column="sname" jdbcType="VARCHAR" property="sname" />
      <result column="sparentid" jdbcType="INTEGER" property="sparentid" />
      <result column="saddress" jdbcType="VARCHAR" property="saddress" />
      <result column="stprice" jdbcType="DECIMAL" property="stprice" />
      <result column="sdescribe" jdbcType="VARCHAR" property="sdescribe" />
      <result column="stime" jdbcType="TIMESTAMP" property="stime" />
      <result column="sadvice" jdbcType="VARCHAR" property="sadvice" />
      <result column="scomment" jdbcType="VARCHAR" property="scomment" />
      <result column="savailable" jdbcType="INTEGER" property="savailable" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    eid, role_id, station_id, esex, eage, `ename`, etelephone, eaddress, eusername, `epassword`, `ecomment`,
    eavailable,etime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select * from employee e,station s,role r where e.role_id=r.rid and e.station_id=s.sid and e.eid=#{eid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from employee
    where eid = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="eid" keyProperty="eid" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into employee (role_id, station_id, esex, eage,
    ename, etelephone, eaddress,
    eusername, epassword, ecomment,
    eavailable,etime)
    values (#{roleId,jdbcType=INTEGER}, #{stationId,jdbcType=INTEGER}, #{esex,jdbcType=INTEGER}, #{eage,jdbcType=INTEGER},
    #{ename,jdbcType=VARCHAR}, #{etelephone,jdbcType=VARCHAR}, #{eaddress,jdbcType=VARCHAR},
    #{eusername,jdbcType=VARCHAR}, #{epassword,jdbcType=VARCHAR}, #{ecomment,jdbcType=VARCHAR},
    #{eavailable,jdbcType=INTEGER},#{etime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="eid" keyProperty="eid" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="esex != null">
        esex,
      </if>
      <if test="eage != null">
        eage,
      </if>
      <if test="ename != null">
        ename,
      </if>
      <if test="etelephone != null">
        etelephone,
      </if>
      <if test="eaddress != null">
        eaddress,
      </if>
      <if test="eusername != null">
        eusername,
      </if>
      <if test="epassword != null">
        epassword,
      </if>
      <if test="ecomment != null">
        ecomment,
      </if>
      <if test="eavailable != null">
        eavailable,
      </if>
      <if test="etime != null">
        etime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="esex != null">
        #{esex,jdbcType=INTEGER},
      </if>
      <if test="eage != null">
        #{eage,jdbcType=INTEGER},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="etelephone != null">
        #{etelephone,jdbcType=VARCHAR},
      </if>
      <if test="eaddress != null">
        #{eaddress,jdbcType=VARCHAR},
      </if>
      <if test="eusername != null">
        #{eusername,jdbcType=VARCHAR},
      </if>
      <if test="epassword != null">
        #{epassword,jdbcType=VARCHAR},
      </if>
      <if test="ecomment != null">
        #{ecomment,jdbcType=VARCHAR},
      </if>
      <if test="eavailable != null">
        #{eavailable,jdbcType=INTEGER},
      </if>
      <if test="etime != null">
        #{etime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    <!--@mbg.generated-->
    update employee
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="esex != null">
        esex = #{esex,jdbcType=INTEGER},
      </if>
      <if test="eage != null">
        eage = #{eage,jdbcType=INTEGER},
      </if>
      <if test="ename != null">
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="etelephone != null">
        etelephone = #{etelephone,jdbcType=VARCHAR},
      </if>
      <if test="eaddress != null">
        eaddress = #{eaddress,jdbcType=VARCHAR},
      </if>
      <if test="eusername != null">
        eusername = #{eusername,jdbcType=VARCHAR},
      </if>
      <if test="epassword != null">
        epassword = #{epassword,jdbcType=VARCHAR},
      </if>
      <if test="ecomment != null">
        ecomment = #{ecomment,jdbcType=VARCHAR},
      </if>
      <if test="eavailable != null">
        eavailable = #{eavailable,jdbcType=INTEGER},
      </if>
      <if test="etime != null">
        etime=#{etime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    update employee
    set role_id = #{roleId,jdbcType=INTEGER},
    station_id = #{stationId,jdbcType=INTEGER},
    esex = #{esex,jdbcType=INTEGER},
    eage = #{eage,jdbcType=INTEGER},
    ename = #{ename,jdbcType=VARCHAR},
    etelephone = #{etelephone,jdbcType=VARCHAR},
    eaddress = #{eaddress,jdbcType=VARCHAR},
    eusername = #{eusername,jdbcType=VARCHAR},
    epassword = #{epassword,jdbcType=VARCHAR},
    ecomment = #{ecomment,jdbcType=VARCHAR},
    eavailable = #{eavailable,jdbcType=INTEGER},
    etime = #{etime,jdbcType=TIMESTAMP}
    where eid = #{eid,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select * from (employee e left join station s on s.sid=e.station_id),role r WHERE r.rid=e.role_id
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select * from (employee e left join station s on s.sid=e.station_id),role r
    <where>
      r.rid=e.role_id
      <if test="ename != null">
       and ename like concat('%',#{ename,jdbcType=VARCHAR},'%')
      </if>
    </where>

  </select>
  <select id="selectByStationer" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from employee e,role r,station s where e.station_id=#{sid,jdbcType=INTEGER} and e.role_id=r.rid and r.rid=2 and s.sid=e.station_id
  </select>
  <select id="selectByStationAndName" resultMap="BaseResultMap">
    select * from (select * from  employee e LEFT JOIN station s on e.station_id=s.sid WHERE e.station_id=#{sid,jdbcType=INTEGER})e,role r
    <where>
      e.role_id=r.rid
      <if test="ename != null">
      and ename like concat('%',#{ename,jdbcType=VARCHAR},'%')
      </if>
  </where>
  </select>
  <select id="selectByStation" resultMap="BaseResultMap">
    select * from (select * from  employee e LEFT JOIN station s on e.station_id=s.sid WHERE e.station_id=#{sid,jdbcType=INTEGER})e,role r where e.role_id=r.rid
  </select>
</mapper>