<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cui.gas.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="cui.gas.domain.Member">
    <!--@mbg.generated-->
    <!--@Table `member`-->
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="msex" jdbcType="INTEGER" property="msex" />
    <result column="mage" jdbcType="INTEGER" property="mage" />
    <result column="mtelephone" jdbcType="VARCHAR" property="mtelephone" />
    <result column="memail" jdbcType="VARCHAR" property="memail" />
    <result column="musername" jdbcType="VARCHAR" property="musername" />
    <result column="mpassword" jdbcType="VARCHAR" property="mpassword" />
    <result column="maddress" jdbcType="VARCHAR" property="maddress" />
    <result column="mcomment" jdbcType="VARCHAR" property="mcomment" />
    <result column="mavailable" jdbcType="INTEGER" property="mavailable" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <association property="roleId" javaType="cui.gas.domain.Role">
      <id column="rid" jdbcType="INTEGER" property="rid" />
      <result column="rpostion" jdbcType="VARCHAR" property="rpostion" />
      <result column="rparentid" jdbcType="INTEGER" property="rparentid" />
      <result column="ravailable" jdbcType="INTEGER" property="ravailable" />
      <result column="rcomment" jdbcType="VARCHAR" property="rcomment" />
    </association>
    <association property="stationId" javaType="cui.gas.domain.Station">
      <id column="sid" jdbcType="INTEGER" property="sid" />
      <result column="sname" jdbcType="VARCHAR" property="sname" />
      <result column="sparentid" jdbcType="INTEGER" property="sparentid" />
      <result column="saddress" jdbcType="VARCHAR" property="saddress" />
      <result column="stprice" jdbcType="DECIMAL" property="stprice" />
      <result column="sdescribe" jdbcType="VARCHAR" property="sdescribe" />
      <result column="stime" jdbcType="TIMESTAMP" property="stime" />
      <result column="sadvice" jdbcType="VARCHAR" property="sadvice" />
      <result column="scomment" jdbcType="VARCHAR" property="scomment" />
      <result column="savailable" jdbcType="INTEGER" property="savailable" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    mid, role_id, station_id, mname, msex, mage, mtelephone, memail, musername, mpassword, 
    mcomment, mavailable, mtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    *
    from `member` m,station s,role r
    where mid = #{mid,jdbcType=INTEGER} and m.station_id=s.sid and m.role_id=r.rid
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `member`
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="map">
    <!--@mbg.generated-->
    insert into `member` (role_id, station_id, mname, 
      msex, mage, mtelephone, 
      memail, musername, mpassword, maddress,
      mcomment, mavailable, mtime
      )
    values (#{roleId,jdbcType=INTEGER}, #{stationId,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, 
      #{msex,jdbcType=INTEGER}, #{mage,jdbcType=INTEGER}, #{mtelephone,jdbcType=VARCHAR}, 
      #{memail,jdbcType=VARCHAR}, #{musername,jdbcType=VARCHAR}, #{mpassword,jdbcType=VARCHAR},
    #{maddress,jdbcType=VARCHAR},#{mcomment,jdbcType=VARCHAR}, #{mavailable,jdbcType=INTEGER}, #{mtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="mid" keyProperty="mid" parameterType="cui.gas.domain.Member" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `member`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="stationId != null">
        station_id,
      </if>
      <if test="mname != null">
        mname,
      </if>
      <if test="msex != null">
        msex,
      </if>
      <if test="mage != null">
        mage,
      </if>
      <if test="mtelephone != null">
        mtelephone,
      </if>
      <if test="memail != null">
        memail,
      </if>
      <if test="musername != null">
        musername,
      </if>
      <if test="mpassword != null">
        mpassword,
      </if>
      <if test="maddress != null">
        maddress,
      </if>
      <if test="mcomment != null">
        mcomment,
      </if>
      <if test="mavailable != null">
        mavailable,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="msex != null">
        #{msex,jdbcType=INTEGER},
      </if>
      <if test="mage != null">
        #{mage,jdbcType=INTEGER},
      </if>
      <if test="mtelephone != null">
        #{mtelephone,jdbcType=VARCHAR},
      </if>
      <if test="memail != null">
        #{memail,jdbcType=VARCHAR},
      </if>
      <if test="musername != null">
        #{musername,jdbcType=VARCHAR},
      </if>
      <if test="mpassword != null">
        #{mpassword,jdbcType=VARCHAR},
      </if>
      <if test="maddress != null">
        #{maddress,jdbcType=VARCHAR},
      </if>
      <if test="mcomment != null">
        #{mcomment,jdbcType=VARCHAR},
      </if>
      <if test="mavailable != null">
        #{mavailable,jdbcType=INTEGER},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    <!--@mbg.generated-->
    update `member`
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="stationId != null">
        station_id = #{stationId,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="msex != null">
        msex = #{msex,jdbcType=INTEGER},
      </if>
      <if test="mage != null">
        mage = #{mage,jdbcType=INTEGER},
      </if>
      <if test="mtelephone != null">
        mtelephone = #{mtelephone,jdbcType=VARCHAR},
      </if>
      <if test="memail != null">
        memail = #{memail,jdbcType=VARCHAR},
      </if>
      <if test="musername != null">
        musername = #{musername,jdbcType=VARCHAR},
      </if>
      <if test="mpassword != null">
        mpassword = #{mpassword,jdbcType=VARCHAR},
      </if>
      <if test="maddress != null">
        maddress = #{maddress,jdbcType=VARCHAR},
      </if>
      <if test="mcomment != null">
        mcomment = #{mcomment,jdbcType=VARCHAR},
      </if>
      <if test="mavailable != null">
        mavailable = #{mavailable,jdbcType=INTEGER},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    update `member`
    set role_id = #{roleId,jdbcType=INTEGER},
      station_id = #{stationId,jdbcType=INTEGER},
      mname = #{mname,jdbcType=VARCHAR},
      msex = #{msex,jdbcType=INTEGER},
      mage = #{mage,jdbcType=INTEGER},
      mtelephone = #{mtelephone,jdbcType=VARCHAR},
      memail = #{memail,jdbcType=VARCHAR},
      musername = #{musername,jdbcType=VARCHAR},
      mpassword = #{mpassword,jdbcType=VARCHAR},
      maddress=#{maddress,jdbcType=VARCHAR},
      mcomment = #{mcomment,jdbcType=VARCHAR},
      mavailable = #{mavailable,jdbcType=INTEGER},
      mtime = #{mtime,jdbcType=TIMESTAMP}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
    select
    *
    from `member` m,station s,role r
    where m.station_id=s.sid and m.role_id=r.rid
    </select>

  <select id="selectByNameAndTelephone" resultMap="BaseResultMap">
    select * from `member` m,station s,role r
    <where>
      m.station_id=s.sid and m.role_id=r.rid
      <if test="mname != null">
        and mname like concat('%',#{mname,jdbcType=VARCHAR},'%')
      </if>
      <if test="mtelephone != null">
        and mtelephone like concat('%',#{mtelephone,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>

  <select id="selectByNameAndTelephoneAndStation" resultMap="BaseResultMap">
    select * from `member` m,station s,role r
    <where>
      m.station_id=s.sid and m.role_id=r.rid
      <if test="mname != null">
        and mname like concat('%',#{mname,jdbcType=VARCHAR},'%')
      </if>
      <if test="mtelephone != null">
        and mtelephone like concat('%',#{mtelephone,jdbcType=VARCHAR},'%')
      </if>
      <if test="stationId != null">
        and m.station_id=#{stationId,jdbcType=INTEGER}
      </if>
    </where>
    </select>
  <select id="selectByStation" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    *
    from `member` m,station s,role r
    where m.station_id=s.sid and m.role_id=r.rid and m.station_id=#{sid,jdbcType=INTEGER}
  </select>
</mapper>