<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cui.gas.dao.PointMapper">
  <resultMap id="BaseResultMap" type="cui.gas.domain.Point">
    <!--@mbg.generated-->
    <!--@Table point-->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pfigure" jdbcType="INTEGER" property="pfigure" />
    <result column="psum" jdbcType="INTEGER" property="psum" />
    <result column="ptime" jdbcType="TIMESTAMP" property="ptime" />
    <result column="pcomment" jdbcType="VARCHAR" property="pcomment" />
    <association property="memberId" javaType="cui.gas.domain.Member">
      <id column="mid" jdbcType="INTEGER" property="mid" />
      <result column="mname" jdbcType="VARCHAR" property="mname" />
      <result column="msex" jdbcType="INTEGER" property="msex" />
      <result column="mage" jdbcType="INTEGER" property="mage" />
      <result column="mtelephone" jdbcType="VARCHAR" property="mtelephone" />
      <result column="memail" jdbcType="VARCHAR" property="memail" />
      <result column="maddress" jdbcType="VARCHAR" property="maddress" />
      <result column="musername" jdbcType="VARCHAR" property="musername" />
      <result column="mpassword" jdbcType="VARCHAR" property="mpassword" />
      <result column="mcomment" jdbcType="VARCHAR" property="mcomment" />
      <result column="mavailable" jdbcType="INTEGER" property="mavailable" />
      <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    </association>
    <association property="optionId" javaType="cui.gas.domain.Option">
      <id column="oid" jdbcType="INTEGER" property="oid" />
      <result column="oname" jdbcType="VARCHAR" property="oname" />
      <result column="ocomment" jdbcType="VARCHAR" property="ocomment" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pid, member_id, option_id, pfigure, psum, ptime, pcomment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select * from point p,member m,`option` o where p.member_id=m.mid and p.option_id=o.oid and pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from point
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="map">
    <!--@mbg.generated-->
    insert into point (member_id, option_id, pfigure, 
      psum, ptime, pcomment
      )
    values (#{memberId,jdbcType=INTEGER}, #{optionId,jdbcType=INTEGER}, #{pfigure,jdbcType=INTEGER}, 
      #{psum,jdbcType=INTEGER}, #{ptime,jdbcType=TIMESTAMP}, #{pcomment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="map">
    <!--@mbg.generated-->
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="optionId != null">
        option_id,
      </if>
      <if test="pfigure != null">
        pfigure,
      </if>
      <if test="psum != null">
        psum,
      </if>
      <if test="ptime != null">
        ptime,
      </if>
      <if test="pcomment != null">
        pcomment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="optionId != null">
        #{optionId,jdbcType=INTEGER},
      </if>
      <if test="pfigure != null">
        #{pfigure,jdbcType=INTEGER},
      </if>
      <if test="psum != null">
        #{psum,jdbcType=INTEGER},
      </if>
      <if test="ptime != null">
        #{ptime,jdbcType=TIMESTAMP},
      </if>
      <if test="pcomment != null">
        #{pcomment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    <!--@mbg.generated-->
    update point
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="optionId != null">
        option_id = #{optionId,jdbcType=INTEGER},
      </if>
      <if test="pfigure != null">
        pfigure = #{pfigure,jdbcType=INTEGER},
      </if>
      <if test="psum != null">
        psum = #{psum,jdbcType=INTEGER},
      </if>
      <if test="ptime != null">
        ptime = #{ptime,jdbcType=TIMESTAMP},
      </if>
      <if test="pcomment != null">
        pcomment = #{pcomment,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    update point
    set member_id = #{memberId,jdbcType=INTEGER},
      option_id = #{optionId,jdbcType=INTEGER},
      pfigure = #{pfigure,jdbcType=INTEGER},
      psum = #{psum,jdbcType=INTEGER},
      ptime = #{ptime,jdbcType=TIMESTAMP},
      pcomment = #{pcomment,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
    select * from point p,member m,`option` o where p.member_id=m.mid and p.option_id=o.oid order by p.ptime desc
  </select>

  <select id="selectByMemberOrderByTime" resultMap="BaseResultMap">
    select * from point p,member m,`option` o where p.member_id=m.mid and p.option_id=o.oid and p.member_id= #{memberId,jdbcType=INTEGER} order by p.ptime desc
  </select>

  <select id="selectByStation" resultMap="BaseResultMap">
    SELECT * FROM `point` p,member m,`option` o,station s
    <where>
      p.member_id=m.mid and p.option_id=o.oid and m.station_id=s.sid
      <if test="stationId != null">
        and s.sid=#{stationId,jdbcType=INTEGER}
      </if>
    </where>
    ORDER BY ptime desc
  </select>
</mapper>